language: python
python:
- '3.5'
- '3.6'
matrix:
  include:
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=pushamp/rust-manylinux-base-x86_64
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=pushamp/rust-manylinux-base-i686


services:
  - postgresql
  - mysql
sudo: required
dist: trusty
group: deprecated-2017Q4
before_install:
  - sudo apt-get -qq update
  - if [ -z "$_COMMAND" ]; then export _COMMAND=coverage; fi
before_script:
  - psql -c "CREATE USER test WITH PASSWORD 'test';" -U postgres
  - psql -c "CREATE DATABASE test_db with  OWNER test" -U postgres
  - psql -c "CREATE TABLE stocks (date TEXT, trans TEXT, symbol TEXT, qty REAL, price REAL)" -U test test_db
  - mysql -e "CREATE DATABASE test_db;"
  - mysql -e "CREATE USER 'test'@'%' IDENTIFIED BY 'test';"
  - mysql -e "CREATE TABLE stocks (date TEXT, trans TEXT, symbol TEXT, qty REAL, price REAL);" -D test_db
  - mysql -e "GRANT ALL ON test_db.* TO 'test'@'%';"
install:
- python -c "import sysconfig; print('\n'.join(map(repr,sorted(sysconfig.get_config_vars().items()))))"
- mkdir ~/rust-installer
- curl -sL https://static.rust-lang.org/rustup.sh -o ~/rust-installer/rustup.sh
- sh ~/rust-installer/rustup.sh --prefix=~/rust --spec=nightly -y --disable-sudo
- export PATH="$HOME/rust/bin:$PATH"
- export PYTHON_LIB=$(python -c "import sysconfig; print(sysconfig.get_config_var('LIBDIR'))")
- export LIBRARY_PATH="$LIBRARY_PATH:$PYTHON_LIB"
- export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$PYTHON_LIB:$HOME/rust/lib"
- rustc -V
- pip install pytest django requests sphinx==1.6.7 sphinx_rtd_theme travis-sphinx psycopg2 mysql-connector-python mysqlclient
script:
- python setup.py develop
- pytest
- travis-sphinx build
- mkdir -p dist
- ls `pwd`
- if [ "$DOCKER_IMAGE" ]; then docker pull $DOCKER_IMAGE; fi
- if [ "$DOCKER_IMAGE" ]; then docker run --rm -v `pwd`:/io $DOCKER_IMAGE /io/build-wheels.sh; fi
- if [ "$DOCKER_IMAGE" ]; then ls wheelhouse/; fi

after_success:
  - travis-sphinx deploy
deploy:
  provider: pypi
  user: dzhiltsov
  distributions: "sdist"
  on:
    tags: true
  password:
    secure: HIwSij/iAbIbSWhftGjkCbRFnNlp+cRPnDbL879WK3aMR3kX5yQ39/iMjnBc9XZA/OGf4AQlxIDLgfi/FpT6y+CRg94xVC+1EfZHDuBWW1Xr7zhP+v6pIDSfDaFQHscIZWzMWlPNr4MbE+MvLX7uI+MiKgE1CkelVvGAfyd91DVFykEkdSnrez7Qx2iGK5u0ThIiP/RwB+8JKTSl4KNaqWfhpTPZgfeWpJfKlCokvl4FGzwanMTr1nErOsW38c4EkSUz4gdFRqSReafYXCbXepLzS5a9ooqpTB05y2ERAySi35/b4yjdptI8lIwrCCyoFOxmtNykYReihnz6qqRCbBAt6ujKZY7AIRW1W+lxnVB5+ZjwjTR40G1KgJ/qg55Db/icHDEDZrMl7dKXU9rJqwfmqLarelJBcKGcmKeDiEaeHhDJaoD0WNBlyopJZej+iZmnSz65VQ7502BNWtt3E4ATETTfhEeoAHXlWOZZvg7/SIqvmkihsizuFiHJ0J16N95tiOrsATUwEMiZ+kIVTMcbICPGhsZ/PfiUakL9Dh7M9b6SkzR2DQyxmoK26JO63ardlnPDHvzs6BspOPuRCMsQnFQiGO2P2vpPbJavA6KwBIT6PV9Tb7nYLOxiVCZZ5wmCvAwWrlSfJfQjWvWgQ22ewin3iM8SAllzd9UfUhI=
